html,
body {
  padding: 0;
  margin: 0;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
}
.carousel {
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: scroll;
  position: -webkit-sticky;
  position: sticky;
}

.carousel::-webkit-scrollbar {
  height: 0;
}
